/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* день */
.page {
  max-width: 1024px;
  font-family: var(--main-fonts), sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3em;
  background-color: var(--bg);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--p-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--bg-accent);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 0.5px;
}

.header__decor {
  position: absolute;
  display: none;
  align-items: center;
  text-transform: uppercase;
  gap: 10px;
  inset-inline-end: 33px;
  inset-block-start: 22px;
}

.header__decor::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--bg-accent);
  background-color: var(--bg-accent);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: min(100vh, 1024px);
  padding: var(--padding-base);
  color: var(--h3-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid currentColor;
  border-block-start: 1px solid currentColor;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: var(--padding-base);
  inset-inline-end: var(--padding-base);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: var(--padding-base);
  inset-inline-start: var(--padding-base);
}

.header__theme-menu {
  justify-items: center;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block: 1.5px;
  text-transform: lowercase;
  font-family: var(--main-fonts, sans-serif);
  line-height: 1em;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-btn);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  color: var(--h1-h2-title);
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-title);
  align-self: center;
  position: relative;
  right: 20px;
}

.header__description {
  justify-self: end;
  width: 50%;
  height: fit-content;
  align-self:center;
}

.title-decor {
  font-weight: bold;
  background-color: var(--bg-accent);
  color:var(--h4-contrast);
}

.content {
  margin-block-start: 60px;
  padding-inline: var(--padding-base);
}

.content__top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin-block-end: 80px;
}

.content__top .content__block {
  grid-column: 2 / -1;
}

.content__title {
  color: var(--h3-color);
  font-weight: bold;
  font-size: inherit;
}

.content__top-title {
  grid-row: -1/1;
}
.content__block-title {
  margin-block-end: 10px;
}


.content__central {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-end: 80px;
}

.content__central .content__block:first-of-type {
  grid-column: 1 / 2;
}

.content__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-end: 80px;
}

.content__block-list {
  color: var(--text-color);
}

.content__bottom .content__block-title {
  margin-block-end: 20px;
}

.content__block-item-title {
  margin-block-end: 10px;
  font-weight: inherit;
  font-size: inherit;
}

.content__block-item:not(:last-of-type) {
  margin-block-end: 20px;
}

.content__bottom .content__block {
  grid-column: 2 / -1;
}

.gallery__title {
  margin-block-end: 20px;
  font-weight: bold;
  font-size: inherit;
}

.gallery__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
  gap: 20px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__img-1 {
  grid-column: 1 / 3;
}

.gallery__img-2 {
  grid-column: 3 / -1;
  grid-row: 1 / 3;
}

.gallery__img-3 {
  grid-row: 2 / -1;
}

.gallery__img-5 {
  grid-column: 2 / -1;
}

.gallery {
  margin-block-end: 60px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(100vh, 1024px);
  color: var(--h3-color);
  padding: var(--padding-base);
}

.footer__title {
  color: var(--h1-h2-title);
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--shadow-title);
}

@media (width <= 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
  }

  .header__title,
  .footer__title {
    text-shadow: 4px 4px 0 var(--bg-accent);
  }

  .header__theme-menu {
    align-self: center;
  }


  .content__top {
    grid-template-columns: 1fr 2fr;
  }


  .content__central {
    display: flex;
    flex-direction: column;
  }

  .content__central-title {
    max-width: 236px;
  }

  .content__bottom {
    grid-template-columns: 1fr 2fr;
  }

  .gallery__box {
    grid-template-rows: 192px 230px 318px;
  }

  }


@media (width <= 375px) {
  :root {
    --padding-base: 10px;
  }
  
  .content {
    margin-block-start: 40px;
  }

  .header__title {
    right: 0px;
  }


  .header__title,
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
  }

  .header__description {
    width: 100%;

  }

  .content__central-title {
    max-width: 100%;
  }

  .content__top,
  .content__bottom {
    grid-template-columns: 1fr;
    margin-block-end: 50px;
  }

  .content__central {
    margin-block-end: 50px;
  }

  .content__top .content__block,
  .content__bottom .content__block {
    grid-column: auto;
  }


  .gallery {
    margin-block-end: 40px;
  }

  .gallery__title {
    margin-block-end: 10px;
  }

  .gallery__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}
